.mediaViewInfo {
	--web-view-name: Get Started - Business;
	--web-view-id: Get_Started___Business;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Get_Started___Business;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Get_Started___Business {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Get Started - Business;
	--web-view-id: Get_Started___Business;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Background {
	position: absolute;
	width: 1982.975px;
	height: 1080px;
	left: -30.976px;
	top: 0px;
	overflow: visible;
}
#Path_1_bap {
	opacity: 0.15;
}
.Path_1_bap {
	overflow: visible;
	position: absolute;
	width: 687.82px;
	height: 332.665px;
	left: 0px;
	top: 747.335px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	opacity: 0.1;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 745.977px;
	height: 576.301px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3_bas {
	opacity: 0.15;
}
.Path_3_bas {
	overflow: visible;
	position: absolute;
	width: 646.108px;
	height: 535.28px;
	left: 1336.868px;
	top: 0.709px;
	transform: matrix(1,0,0,1,0,0);
}
#CONTACT_US {
	position: absolute;
	left: 1640.389px;
	top: 72.33px;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Contact_Us___Business.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(12,55,90,1);
}
#Get_Started {
	position: absolute;
	left: 1318.653px;
	top: 66.33px;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(12,55,90,1);
}
#SERVICE {
	position: absolute;
	left: 1129.027px;
	top: 72.331px;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Service.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(12,55,90,1);
}
#Get_Started_baw {
	position: absolute;
	left: 975.653px;
	top: 72.33px;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(12,55,90,1);
}
#Logo {
	position: absolute;
	width: 310.607px;
	height: 175.464px;
	left: 82.361px;
	top: 42.758px;
	overflow: visible;
}
#Logo_bay {
	position: absolute;
	width: 310.607px;
	height: 175.464px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Asset_1_100x_8_copy_2 {
	position: absolute;
	width: 533px;
	height: 604px;
	left: 267px;
	top: 282px;
	overflow: visible;
}
#Contact_US_ {
	position: absolute;
	width: 607px;
	height: 704px;
	left: 1100px;
	top: 232px;
	overflow: visible;
}
.Path_398 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 625px;
	height: 722px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Register_Account {
	position: absolute;
	left: 46px;
	top: 86px;
	overflow: visible;
	width: 516px;
	white-space: nowrap;
	line-height: 72px;
	margin-top: -10.5px;
	text-align: left;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 51px;
	color: rgba(1,114,208,1);
	letter-spacing: 1.2px;
}
#Submit {
	position: absolute;
	width: 252.796px;
	height: 73px;
	left: 177px;
	top: 560px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: GS_Business_Form.html;
	cursor: pointer;
}
.Path_382 {
	overflow: visible;
	position: absolute;
	width: 252.796px;
	height: 73px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Let_s_Go {
	position: absolute;
	left: 33px;
	top: 14px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	line-height: 86px;
	margin-top: -23.5px;
	text-align: center;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#Business {
	position: absolute;
	width: 215px;
	height: 243px;
	left: 70px;
	top: 231px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Get_Started___Consumer.html;
	cursor: pointer;
}
#User {
	position: absolute;
	width: 215px;
	height: 243px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_77 {
	filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 251px;
	height: 279px;
	left: 0px;
	top: 0px;
}
#Consumer {
	position: absolute;
	left: 8px;
	top: 172px;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	line-height: 66px;
	margin-top: -16px;
	text-align: left;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	color: rgba(36,120,202,1);
	letter-spacing: 1.2px;
}
#noun_Gentleman_518257 {
	position: absolute;
	width: 74.135px;
	height: 89.403px;
	left: 69.381px;
	top: 45.416px;
	overflow: visible;
}
#Group_148 {
	position: absolute;
	width: 74.135px;
	height: 89.403px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_108 {
	overflow: visible;
	position: absolute;
	width: 42.778px;
	height: 48.069px;
	left: 15.679px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_109 {
	overflow: visible;
	position: absolute;
	width: 74.135px;
	height: 36.39px;
	left: 0px;
	top: 53.013px;
	transform: matrix(1,0,0,1,0,0);
}
#User_bbe {
	position: absolute;
	width: 215px;
	height: 243px;
	left: 322px;
	top: 231px;
	overflow: visible;
}
.Rectangle_77_bbg {
	filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 251px;
	height: 279px;
	left: 0px;
	top: 0px;
}
#Business_bbh {
	position: absolute;
	left: 7px;
	top: 169px;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	line-height: 76px;
	margin-top: -18.5px;
	text-align: left;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(255,255,255,1);
	letter-spacing: 1.2px;
}
#shop {
	position: absolute;
	width: 99.708px;
	height: 80.975px;
	left: 58px;
	top: 50px;
	overflow: visible;
}
#Group_240 {
	position: absolute;
	width: 99.708px;
	height: 80.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_239 {
	position: absolute;
	width: 99.708px;
	height: 80.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_399 {
	overflow: visible;
	position: absolute;
	width: 99.708px;
	height: 80.975px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_242 {
	position: absolute;
	width: 45.07px;
	height: 32.582px;
	left: 14.05px;
	top: 40.588px;
	overflow: visible;
}
#Group_241 {
	position: absolute;
	width: 45.07px;
	height: 32.582px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_400 {
	overflow: visible;
	position: absolute;
	width: 45.07px;
	height: 32.582px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}