.mediaViewInfo {
	--web-view-name: Service;
	--web-view-id: Service;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Service;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Service {
	position: absolute;
	width: 1920px;
	height: 3240px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Service;
	--web-view-id: Service;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
#H___1 {
	position: absolute;
	width: 1695px;
	height: 795px;
	left: 113px;
	top: 1286px;
	overflow: visible;
}
#H___C3 {
	position: absolute;
	width: 509px;
	height: 590px;
	left: 1186px;
	top: 205px;
	overflow: visible;
}
.Rectangle_75 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 608px;
	left: 0px;
	top: 0px;
}
#Start_using_your_barcode_tag_a {
	position: absolute;
	left: 35.153px;
	top: 423.299px;
	overflow: visible;
	width: 457.042px;
	height: 158.701px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(12,55,90,1);
}
#Start_Saving {
	position: absolute;
	left: 46.153px;
	top: 368.299px;
	overflow: visible;
	width: 434.042px;
	height: 63.701px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(36,120,202,1);
}
#Layer_2_100x_8 {
	position: absolute;
	width: 266px;
	height: 266px;
	left: 122px;
	top: 60px;
	overflow: visible;
}
#H___C2 {
	position: absolute;
	width: 509px;
	height: 590px;
	left: 593px;
	top: 205px;
	overflow: visible;
}
.Rectangle_75_u {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 608px;
	left: 0px;
	top: 0px;
}
#A_unique_barcode_will_be_assig {
	position: absolute;
	left: 30.153px;
	top: 430.299px;
	overflow: visible;
	width: 461.042px;
	height: 151.701px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(12,55,90,1);
}
#Layer_4_100x_8 {
	position: absolute;
	width: 364px;
	height: 230px;
	left: 72px;
	top: 71px;
	overflow: visible;
}
#Receive_Barcode_Tag {
	position: absolute;
	left: 18.153px;
	top: 371.299px;
	overflow: visible;
	width: 473.042px;
	height: 84.701px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(36,120,202,1);
}
#H___C1 {
	position: absolute;
	width: 509px;
	height: 590px;
	left: 0px;
	top: 205px;
	overflow: visible;
}
.Rectangle_75_z {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 608px;
	left: 0px;
	top: 0px;
}
#Consumers_can_create_their_acc {
	position: absolute;
	left: 34.153px;
	top: 428.299px;
	overflow: visible;
	width: 442.042px;
	height: 132.701px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(12,55,90,1);
}
#Asset_1_100x_8_copy_2 {
	position: absolute;
	width: 270px;
	height: 306px;
	left: 120px;
	top: 21px;
	overflow: visible;
}
#Create__Account {
	position: absolute;
	left: 38.153px;
	top: 372.299px;
	overflow: visible;
	width: 434.042px;
	height: 55.701px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(36,120,202,1);
}
#H___1_ {
	position: absolute;
	width: 360.771px;
	height: 169.322px;
	left: 666.229px;
	top: 0px;
	overflow: visible;
}
.Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 81px;
	left: 139.771px;
	top: 0px;
}
#ID1 {
	position: absolute;
	left: 169.55px;
	top: 6.688px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	color: rgba(255,255,255,1);
}
#H___For_Consumer {
	position: absolute;
	width: 360.771px;
	height: 68.607px;
	left: 0px;
	top: 100.715px;
	overflow: visible;
}
.Path_318 {
	overflow: visible;
	position: absolute;
	width: 360.771px;
	height: 68.607px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_151 {
	position: absolute;
	width: 305.646px;
	height: 45.727px;
	left: 27.979px;
	top: 11.489px;
	overflow: visible;
}
#For_Consumer {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 306.646px;
	height: 45.727px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#H__2 {
	position: absolute;
	width: 1695px;
	height: 797px;
	left: 113px;
	top: 2220px;
	overflow: visible;
}
#H___C3_b {
	position: absolute;
	width: 509px;
	height: 592px;
	left: 1186px;
	top: 205px;
	overflow: visible;
}
.Rectangle_75_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 608px;
	left: 0px;
	top: 0px;
}
#Review_the_manual_guide_provid {
	position: absolute;
	left: 37.153px;
	top: 436.299px;
	overflow: visible;
	width: 435.042px;
	height: 155.701px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(12,55,90,1);
}
#Start_Providing_Service {
	position: absolute;
	left: 38.153px;
	top: 343.299px;
	overflow: visible;
	width: 434.042px;
	height: 92.701px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(36,120,202,1);
}
#OBJECTS_100x_8 {
	position: absolute;
	width: 352px;
	height: 336px;
	left: 79px;
	top: 12px;
	overflow: visible;
}
#H___C2_g {
	position: absolute;
	width: 509px;
	height: 590px;
	left: 593px;
	top: 205px;
	overflow: visible;
}
.Rectangle_75_h {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 608px;
	left: 0px;
	top: 0px;
}
#After_creating_an_account__rec {
	position: absolute;
	left: 47.153px;
	top: 441.299px;
	overflow: visible;
	width: 415.042px;
	height: 118.701px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(12,55,90,1);
}
#Receive_Equipment {
	position: absolute;
	left: 18.153px;
	top: 371.299px;
	overflow: visible;
	width: 473.042px;
	height: 84.701px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(36,120,202,1);
}
#Koin_Keepr_Stand {
	position: absolute;
	width: 185px;
	height: 315px;
	left: 162px;
	top: 32px;
	overflow: visible;
}
#H___C1_l {
	position: absolute;
	width: 509px;
	height: 590px;
	left: 0px;
	top: 205px;
	overflow: visible;
}
.Rectangle_75_m {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 527px;
	height: 608px;
	left: 0px;
	top: 0px;
}
#Businesses_can_create_their_ac {
	position: absolute;
	left: 57.153px;
	top: 445.299px;
	overflow: visible;
	width: 395.042px;
	height: 118.701px;
	line-height: 30px;
	margin-top: -4px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(12,55,90,1);
}
#Asset_1_100x_8_copy_2_o {
	position: absolute;
	width: 270px;
	height: 306px;
	left: 120px;
	top: 21px;
	overflow: visible;
}
#Create__Account_p {
	position: absolute;
	left: 38.153px;
	top: 372.299px;
	overflow: visible;
	width: 434.042px;
	height: 55.701px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(36,120,202,1);
}
#H___2 {
	position: absolute;
	width: 360.771px;
	height: 169.322px;
	left: 666.229px;
	top: 0px;
	overflow: visible;
}
.Ellipse_23_r {
	position: absolute;
	overflow: visible;
	width: 81px;
	height: 81px;
	left: 139.771px;
	top: 0px;
}
#ID2 {
	position: absolute;
	left: 164.55px;
	top: 7.688px;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	color: rgba(255,255,255,1);
}
#H___For_Business {
	position: absolute;
	width: 360.771px;
	height: 68.607px;
	left: 0px;
	top: 100.715px;
	overflow: visible;
}
.Path_318_u {
	overflow: visible;
	position: absolute;
	width: 360.771px;
	height: 68.607px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_151_v {
	position: absolute;
	width: 328.646px;
	height: 49.668px;
	left: 15.979px;
	top: 9.489px;
	overflow: visible;
}
#For_Businesses {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 329.646px;
	height: 49.668px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#How_it_works {
	position: absolute;
	width: 479px;
	height: 60px;
	left: 720.153px;
	top: 1155.352px;
	overflow: visible;
}
#HOW_IT_WORKS {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 480px;
	white-space: nowrap;
	line-height: 96px;
	margin-top: -18px;
	text-align: left;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(1,114,208,1);
}
.down_arrow {
	overflow: visible;
	position: absolute;
	width: 42.651px;
	height: 72.76px;
	transform: matrix(1,0,0,1,938.5661,990.705) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#business {
	position: absolute;
	width: 623px;
	height: 692.987px;
	left: 1118px;
	top: 242px;
	overflow: visible;
}
#For_Business {
	position: absolute;
	width: 404.603px;
	height: 76.942px;
	left: 131.229px;
	top: 616.045px;
	overflow: visible;
}
.Path_318_ {
	overflow: visible;
	position: absolute;
	width: 404.603px;
	height: 76.942px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_151_ {
	position: absolute;
	width: 340.781px;
	height: 41.282px;
	left: 27.379px;
	top: 13.885px;
	overflow: visible;
}
#For_Businesses_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 341.781px;
	height: 41.282px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#store {
	position: absolute;
	width: 623px;
	height: 415px;
	left: 0px;
	top: 146px;
	overflow: visible;
}
#ID2_ {
	position: absolute;
	width: 91px;
	height: 91px;
	left: 288px;
	top: 0px;
	overflow: visible;
}
.Ellipse_23_ {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 91px;
	left: 0px;
	top: 0px;
}
#ID2_a {
	position: absolute;
	left: 27.5px;
	top: 7.5px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: rgba(255,255,255,1);
}
#consumer {
	position: absolute;
	width: 454px;
	height: 692.987px;
	left: 258px;
	top: 242px;
	overflow: visible;
}
#For_Consumer_a {
	position: absolute;
	width: 404.603px;
	height: 76.942px;
	left: 49.229px;
	top: 616.045px;
	overflow: visible;
}
.Path_318_b {
	overflow: visible;
	position: absolute;
	width: 404.603px;
	height: 76.942px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_151_c {
	position: absolute;
	width: 342.781px;
	height: 51.282px;
	left: 31.379px;
	top: 12.885px;
	overflow: visible;
}
#For_Consumer_d {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 343.781px;
	height: 51.282px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#people {
	position: absolute;
	width: 454px;
	height: 415px;
	left: 0px;
	top: 146px;
	overflow: visible;
}
#ID1_f {
	position: absolute;
	width: 91px;
	height: 91px;
	left: 206px;
	top: 0px;
	overflow: visible;
}
.Ellipse_23_g {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 91px;
	left: 0px;
	top: 0px;
}
#ID1_h {
	position: absolute;
	left: 33.5px;
	top: 7.5px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	color: rgba(255,255,255,1);
}
.hearder_blur {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 218px;
	left: 0px;
	top: 0px;
}
#Background {
	position: absolute;
	width: 1982.975px;
	height: 1072.912px;
	left: -30.975px;
	top: 0px;
	overflow: visible;
}
#Path_1_l {
	opacity: 0.15;
}
.Path_1_l {
	overflow: visible;
	position: absolute;
	width: 687.82px;
	height: 330.482px;
	left: 0px;
	top: 742.43px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	opacity: 0.1;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 745.977px;
	height: 572.519px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3_o {
	opacity: 0.15;
}
.Path_3_o {
	overflow: visible;
	position: absolute;
	width: 646.108px;
	height: 531.767px;
	left: 1336.868px;
	top: 0.704px;
	transform: matrix(1,0,0,1,0,0);
}
#CONTACT_US {
	position: absolute;
	left: 1640.389px;
	top: 72.33px;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Contact_Us___Consumer.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(12,55,90,1);
}
#Get_Started {
	position: absolute;
	left: 1345.653px;
	top: 72.33px;
	overflow: visible;
	width: 213px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Get_Started___Consumer.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(12,55,90,1);
}
#SERVICE {
	position: absolute;
	left: 1083.027px;
	top: 66.331px;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(12,55,90,1);
}
#Get_Started_s {
	position: absolute;
	left: 902.653px;
	top: 72.33px;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(12,55,90,1);
}
#Logo {
	position: absolute;
	width: 310.607px;
	height: 175.464px;
	left: 82.362px;
	top: 42.758px;
	overflow: visible;
}
#Logo_u {
	position: absolute;
	width: 310.607px;
	height: 175.464px;
	left: 0px;
	top: 0px;
	overflow: visible;
}